<h1>Create a new Owner</h1>
<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Pet's name:</label>
    <input type="text" name="pet[name]" id="pet_name">
  <br></br>
  <input type="submit" value="Create Pet">
  <br></br>
  <hr></hr>
<label> Now select the owner's pet by checking a box or create a new owner. </label>
  <br></br>
  <%Pet.all.each do |pet|%>
    <input type="checkbox" name="owner[pet_id]" id="<%= pet.name %>" value="<%=pet.id%>"><%=pet.name%></input>
  <%end%>

    <br></br>
    <br></br>
    <label>Pet's name:</label>
      <input type="text" name="pet[name]" id="pet_name"></input>
    <br></br>

  <input type="submit" value="Create Pet">
  <hr></hr>
</form>
